#include "windows.h"

IDR_SOUND1 RT_RCDATA "meow.wav"
CAT1 RT_RCDATA "cat1.jpg"
CAT2 RT_RCDATA "cat2.jpg"
CAT3 RT_RCDATA "cat3.jpg"
CAT4 RT_RCDATA "cat4.jpg"
CAT5 RT_RCDATA "cat5.jpg"
CAT6 RT_RCDATA "cat6.jpg"
CAT7 RT_RCDATA "cat7.jpg"
CAT8 RT_RCDATA "cat8.jpg"
CAT9 RT_RCDATA "cat9.jpg"
CAT10 RT_RCDATA "cat10.jpg"