#include "windows.h"

IDR_SOUND1 RT_RCDATA "meow.wav"
CAT2 RT_RCDATA "cat2.png"
CAT3 RT_RCDATA "cat3.png"
CAT4 RT_RCDATA "cat4.png"
CAT5 RT_RCDATA "cat5.png"
CAT6 RT_RCDATA "cat6.png"
CAT7 RT_RCDATA "cat7.png"
CAT8 RT_RCDATA "cat8.png"
CAT9 RT_RCDATA "cat9.png"
CAT10 RT_RCDATA "cat10.png"
CAT11 RT_RCDATA "cat11.png"